@page "/login"
@using BlazorPractice1.ApiRequests.Services
@using static BlazorPractice1.ApiRequests.Model.Auth
@inject AuthService AuthService
@inject NavigationManager Navigation
<div class="auth-page">
    <div class="card auth-card">
        <h2 class="form-title">Вход</h2>
        <p class="form-subtitle">Войдите в систему</p>

        @if (!string.IsNullOrWhiteSpace(errorMessage))
        {
            <div class="alert alert-error">@errorMessage</div>
        }

        <div class="form-group">
            <label class="form-label">Email</label>
            <input class="form-control" @bind="loginRequest.Email" placeholder="Введите email" />
        </div>

        <div class="form-group">
            <label class="form-label">Пароль</label>
            <input class="form-control" @bind="loginRequest.Password" type="password" placeholder="Введите пароль" />
        </div>

        <div class="form-actions">
            <button class="btn btn-primary w-100" @onclick="LoginPage">Войти</button>
        </div>

        <p class="auth-switch">
            Нет аккаунта?
            <a href="/register">Зарегистрироваться</a>
        </p>
    </div>
</div>
@*@<h3>Login</h3>

<input @bind="loginRequest.Email" placeholder="Email" />
<input @bind="loginRequest.Password" type="password" placeholder="Password" />
<button @onclick="LoginPage">Sign in</button>

@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <p>@errorMessage</p>
}
*@

@code {
    private LoginRequest loginRequest = new LoginRequest();
    private string? errorMessage;

    protected override async Task OnInitializedAsync()
    {
        await AuthService.LoadSessionAsync();

        if (AuthService.IsAuthenticated)
            Navigation.NavigateTo("/profile");
    }

    private async Task LoginPage()
    {
        errorMessage = null;

        var success = await AuthService.LoginAsync(loginRequest);

        if (success)
        {
            Navigation.NavigateTo("/profile");
        }
        else
        {
            errorMessage = "Неверный логин или пароль";
        }
    }

}
